# Folders
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
obj/
Lib/
ipch/
.vs/

# SLN
*.db
*.sdf
*.suo
*.user
*.opensdf
*.pidb
*.userprefs
*.opendb
*.vsconfig

# System Files
*.DS_Store
*.cachefile

# Unity files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/TEMP/
Assets/TEMP.meta
Assets/AssetStoreTools*

*.sln
*.csproj
*.tmp
*.booproj
*.svd
*.apk
*.unitypackage
*.log

*.xcf
*.kra~
*.blend1

sysinfo.txt